@charset "UTF-8";

.content_wrap{
    padding: 0 21rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
    display: flex;
    justify-content: space-between;
}
.content_left .title_text{
    margin-left: 18rem;
}
.content_left h4{
    font-size: 5rem;
    color: #333;
    font-weight: 700;
}
.content_left span{
    font-size: 2.2rem;
    color: #666;
    font-weight: 500;
}
.content_left:before{
    content: '';
    background-image: url(/img/register_img2.png);
    width: 36rem;
    height: 36rem;
    position: absolute;
    z-index: -99;
    margin-top: 4rem;
}

.content_right ul li{
    display: flex;
    align-items: center;
    padding: 3rem 0;
    width: 53.7rem;
    border-bottom: 1px solid #E9E9E9;
}
.content_right ul li .alliance_number{
    margin-right: 2rem;
}
.content_right ul li .alliance_number h2{
    font-size: 3rem;
    color: #AF0023;
    font-weight: 700;
}
.content_right ul li .alliance_text h4{
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}
.content_right ul li .alliance_text span{
    font-size: 1.4rem;
    font-weight: 500;
    color: #666;
}

@media (max-width:1750px) {
    .content_wrap{
        padding: 0 16rem;
        margin-top: 10rem;
        margin-bottom: 20rem;
        display: flex;
        justify-content: space-between;
    }
    .content_left .title_text{
        margin-left: 18rem;
    }
    .content_left h4{
        font-size: 3.6rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.6rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        width: 36rem;
        height: 36rem;
        position: absolute;
        z-index: -99;
        margin-top: 2.8rem;
    }
}

@media (max-width:1240px) {
    .content_wrap{
        padding: 0 6rem;
        margin-top: 10rem;
        margin-bottom: 20rem;
        display: flex;
        justify-content: space-between;
    }
    .content_left .title_text{
        margin-left: 12rem;
    }
    .content_left h4{
        font-size: 3rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.6rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 26rem;
        height: 26rem;
        position: absolute;
        z-index: -99;
        margin-top: 2.8rem;
    }

    .content_right ul li{
        width: 40rem;
        border-bottom: 1px solid #E9E9E9;
    }
}

@media (max-width:900px) {
    .content_wrap{
        padding: 0 8rem;
        margin-top: 21rem;
        margin-bottom: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content_left{
        display: flex;
        position: relative;
    }
    .content_left .title_text{
        margin-left: 24rem;
    }
    .content_left h4{
        font-size: 2.6rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.8rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 21rem;
        height: 21rem;
        position: absolute;
        top: -100%;
        left: 0;
        z-index: -99;
        margin-top: 0;
    }

    .content_right{
        margin: 0 auto;
        margin-top: 20rem;
    }
}

@media (max-width:680px) {
    .content_wrap{
        padding: 0 6.5rem;
        margin-top: 16.4rem;
        margin-bottom: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_left{
        display: flex;
        position: relative;
        text-align: center;
    }
    .content_left .title_text{
        margin-left: 0;
    }
    .content_left h4{
        font-size: 2rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.6rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: -300%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -99;
        margin-top: 0;
    }

    .content_right{
        margin: 0 auto;
        margin-top: 10rem;
    }
    .content_right ul li{
        display: flex;
        align-items: center;
        padding: 3rem 0;
        width: 40rem;
        border-bottom: 1px solid #E9E9E9;
    }
    .content_right ul li .alliance_number{
        margin-right: 2rem;
    }
    .content_right ul li .alliance_number h2{
        font-size: 2.8rem;
        color: #AF0023;
        font-weight: 700;
    }
    .content_right ul li .alliance_text h4{
        font-size: 1.8rem;
        font-weight: 700;
        color: #333;
    }
    .content_right ul li .alliance_text span{
        font-size: 1.4rem;
        font-weight: 500;
        color: #666;
    }
}


@media (max-width:380px) {
    .content_wrap{
        padding: 0 0;
        margin-top: 16.4rem;
        margin-bottom: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_left{
        display: flex;
        position: relative;
        text-align: center;
    }
    .content_left .title_text{
        margin-left: 0;
    }
    .content_left h4{
        font-size: 1.6rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.4rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: -300%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -99;
        margin-top: 0;
    }

    .content_right{
        width: 90%;
        padding: 1.6rem;
    }
    .content_right ul li{
        display: flex;
        align-items: center;
        padding: 3rem 0;
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
    }
    .content_right ul li .alliance_number{
        margin-right: 2rem;
    }
    .content_right ul li .alliance_number h2{
        font-size: 2.6rem;
        color: #AF0023;
        font-weight: 700;
    }
    .content_right ul li .alliance_text h4{
        font-size: 1.6rem;
        font-weight: 700;
        color: #333;
    }
    .content_right ul li .alliance_text span{
        font-size: 1.2rem;
        font-weight: 500;
        color: #666;
    }
}