@charset "utf-8";

/* 모바일용 css */
.header{
    order: 1;
    width: 90%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    margin: 0 auto;
}
.header .menu_btn{
    cursor: pointer;
}
.header .logo{
    width: 100%;
    height: 34px;
    background-image: url(../img/main/logo.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 31px 34px;
    text-indent: -9999px;
    cursor: pointer;
}

/* 모바일 메뉴창 */
.header .nav{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
    transition: 0.8s;
    overflow-y: scroll;
}
.nav::-webkit-scrollbar {
    display: none;
}
.header .nav .menu_login{
    width: 100%;
    height: 130px;
    background: linear-gradient(90deg, #FF746B 0%, #FF8FAA 100%);
    position: relative;
}
.header .nav .menu_login::before{
    content: '로그인하세요';
    display: block;
    color: #fff;
    font-size: 24px;
    padding-top: 70px;
    margin-left: 14px;
    font-weight: bold;
}
.header .nav .menu_login .close:after{
    content: '';
    position: absolute;
    right: 30px;
    bottom: 34px;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/cancel.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.header .nav .option{
    height: 50px;
    background: #eee;
    position: relative;
    display: flex;
    justify-content: end;
}
.header .nav .option a{
    display: block;
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 60px center;
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 50px;
    margin-right: 10px;
}
.header .nav .option .allopen{
    background-image: url(../img/icon/plus.png);
    
}
.header .nav .option .allclose{
    background-image: url(../img/icon/minus.png);
}
.menu > li{
    position: relative;
}
.menu > li > a{
    font-size: 20px;
    display: block;
    height: 60px;
    line-height: 60px;
    padding-left: 14px;
    font-weight: 600;
    position: relative;
}
.menu > li > img{
    position: absolute;
    right: 10px;
    top: 15px;
}

.sub_menu > li{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 26px;
    font-size: 18px;
    background: #eee;
    transition: 0.3s;
}



/* 검색영역 */
.header .search .search_box{
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    width: 100%;
    height: 200px;
    background: #fff;
    display: none;
}
.header .search .search_box input{
    display: block;
    width: 80%;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 15px;
    margin: 30px auto 20px;
    outline: none;
}
.header .search .search_box .search_text{
    width: 80%;
    margin: 0 auto;
}
.header .search .search_box .search_text li{
    counter-increment: rankup-counter;
    font-weight: bold;
}
.header .search .search_box .search_text li:before{
    content: counter(rankup-counter)'.';
}
.header .search .search_box .search_text li ~ li{
    margin-top: 10px;
}
.header .search_img{
    cursor: pointer;
    width: 30px;
}
.header .my{
    display: none;
}

/* 슬라이드 영역 */
.slider{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background-image: url(../img/main/슬라이드_m.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.slider span{
    display: none;
}
.slider:after{
    content: '자세히 보기';
    position: absolute;
    bottom: 46px;
    left: 40px;
    width: 80px;
    height: 25px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}

/* 내 정보 메뉴 영역 */
.my_menu_bar{
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
}
.my_menu_bar ul{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.my_menu_bar ul li{
    cursor: pointer;
    transition: all 0.5s;
}
.my_menu_bar ul li a{
    font-size: 12px;
    font-weight: 500;
}
.my_menu_bar ul li:nth-child(1)::before{
    content: "";
    margin: 5px auto;
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../img/icon/call.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s;
}
.my_menu_bar ul li:nth-child(2)::before{
    content: "";
    margin: 5px auto;
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../img/icon/cash.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s;
}
.my_menu_bar ul li:nth-child(3)::before{
    content: "";
    margin: 5px auto;
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../img/icon/me.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s;
}
.my_menu_bar ul li:nth-child(4)::before{
    content: "";
    margin: 5px auto;
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../img/icon/present.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s;
}
.my_menu_bar ul li:hover a{
    font-weight: bold;
}
.my_menu_bar ul li:hover::before{
    transform: scale(1.1);
}
.login{
    display: none;
}

/* main */
main{
    width: 100%;
}

/* 이벤트 영역 */
.event{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}
.event h2{
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.event h2 > span{
    font-weight: bold;
}
.event_box{
    width: 202%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.event .swiper-slide{
    width: 160px;
    height: 160px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 20px;
    position: relative;
    margin: 10px 0;
}
.event .swiper-slide:after{
    content: '더 알아보기 >';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: #EA372C;
    color: #fff;
    line-height: 160px;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    font-size: 18px;
}
.event .swiper-slide:hover:after
{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.event_box h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 3px;
}
.event_box span{
    font-size: 10px;
}
.event_box li{
    font-size: 14px;
    margin: 10px;
}
.event_box li::before{
    content: '>';
    color: #f00;
    font-size: 8px;
    position: relative;
    left: -4px;
    top: -2px;
}
.event_box li p{
    font-size: 10px;
    margin: 4px;
}
.event a{
    display: none;
}

/* 상품 영역 */
.best{
    width: 90%;
    height: 1210px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    border-radius: 20px;
    text-align: center;
}
.best h3{
    font-size: 20px;
    padding: 30px 0;
}
.best h3 > span{
    font-weight: bold;
}
.best > span{
    display: none;
}
.best_list ul li{
    transition: 0.5s;
}
.best_list li ~ li{
    margin: 50px;
}
.best_list a{
    display: block;
    width: 270px;
    height: 270px;
}
.best_list ul li .s22{
    background-image: url(../img/main/S22.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
}
.best_list ul li .flip{
    background-image: url(../img/main/z플립.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
}
.best_list ul li .fold{
    background-image: url(../img/main/z폴드.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
}
.best_list ul li:hover{
    opacity: 0.6;;
}
.best_list strong{
    color: #a70800;
}
.best_list p{
    margin: 5px;
    font-size: 18px;
}

/* footer */
footer{
    width: 100%;
    height: 204px;
    background: #333;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    position: relative;
}
.footer_01{
    font-size: 14px;
    width: 340px;
    height: 14px;
    margin: 30px auto;
    overflow: hidden;
}
.footer_02{
    display: none;
}
.footer_03 img ~ img{
    margin-left: 10px;
    margin-bottom: 20px;
}
.footer_03 img{
    transition: 0.5s;
    cursor: pointer;
}
.footer_03 img:hover{
    filter: brightness(1.8);
}
.footer_04{
    display: flex;
    justify-content: center;
}
.footer_04 a{
    display: block;
    width: 100px;
    height: 40px;
    background: #4a0000;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: 0.6s;
}
.footer_04 a::before{
    content: '';
    display: block;
    width: 140px;
    height: 40px;
    z-index: -1;
    transform: skewX(30deg);
    background: #fff;
    position: absolute;
    left: -140%;
    top: 0;
    transition: 0.6s;
}
.footer_04 a:hover::before{
    left: -10%;
}
.footer_04 a:hover{
    color: #000;
    z-index: 1;
}
.footer_04 a:after{
    content: '>';
    margin-left: 12px;
}
.footer_04 select{
    width: 150px;
    height: 40px;
    background: #fff;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


/* 테블릿용 css */
@media all and (min-width:768px){
    .header{
        width: 90%;
    }
    .header .menu_btn{
        width: 53px;
    }
    .header .logo{
        height: 54px;
        background-size: 49px 54px;
    }
    .header .search_img{
        width: 46px;
    }
    .slider{
        width: 100%;
        height: 370px;
        margin: 0 auto;
        background-image: url(../img/main/슬라이드_t.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
    .slider:after{
        bottom: 80px;
        left: 100px;
        width:100px;
        height: 30px;
        line-height: 30px;
        border-radius: 8px;
        font-size: 16px;
    }

    /* 메뉴창 영역 */
    .header .nav{
        width: 80%;
    }

    /* 내 정보 메뉴바 영역 */
    .my_menu_bar ul{
        height: 100px;
    }
    .my_menu_bar ul li a{
        font-size: 16px;
    }
    .my_menu_bar ul li:nth-child(1)::before{
        margin: 10px auto;
        width: 50px;
        height: 50px;
    }
    .my_menu_bar ul li:nth-child(2)::before{
        margin: 10px auto;
        width: 50px;
        height: 50px;
    }
    .my_menu_bar ul li:nth-child(3)::before{
        margin: 10px auto;
        width: 50px;
        height: 50px;
    }
    .my_menu_bar ul li:nth-child(4)::before{
        margin: 10px auto;
        width: 50px;
        height: 50px;
    }

    /* 혜택 영역 */
    .event h2{
        font-size: 26px;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .event_box{
        width: 200%;
    }
    .event .swiper-slide{
        width: 325px;
        height: 325px !important;
    }
    .event_box h3{
        font-size: 26px;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .event_box span{
        font-size: 18px;
    }
    .event_box li{
        font-size: 22px;
        margin: 30px;
    }
    .event_box li p{
        font-size: 16px;
        margin: 10px;
    }
    .event .swiper-slide:hover:after{
        width: 100%;
        height: 100%;
        line-height: 325px;
    }
    .event .swiper-slide:after{
        font-size: 24px;
    }
    .event_box li::before{
        content: '>';
        font-size: 16px;
        left: -6px;
        top: -2px;
    }   

    /* 상품 영역 */
    .best{
        height: 1000px;
    }
    .best h3{
        font-size: 26px;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .best > span{
        display: block;
    }
    .best_list ul{
        position: relative;
    }
    .best_list li ~ li{
        margin: 50px;
    }
    .best_list .s22{
        width: 380px;
        height: 380px;
    }
    .best_list ul li .s22{
        margin: 15px auto;
    }
    .best_list ul li .flip{
        margin: 15px auto;
    }
    .best_list ul li .fold{
        margin: 15px auto;
    }
    .best_list .s22 span{
        font-size: 20px;
    }
    .best_list .s22 p{
        margin: 5px;
        font-size: 28px;
    }
    .best_list ul li:nth-child(2){
        width: 40%;
    }
    .best_list ul li:nth-child(3){
        position: absolute;
        right: 0;
        top: 52.3%;
        width: 40%;
    }

    /* footer */
    footer{
        height: 300px;
        padding-top: 30px;
    }
    .footer_01{
        font-size: 14px;
        width: 655px;
        height: 14px;
        margin-bottom: 40px;
    }
    .footer_02{
        display: block;
        font-size: 12px;
        font-weight: 200;
        color: #ccc;
        line-height: 1.3;
    }
    .footer_02 .text_box2, .footer_02 span{
        display: none;
    }
    .footer_03{
        float: left;
        margin-top: 30px;
        margin-left: 130px;
    }
    .footer_04{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 300px;
    }
    .footer_04 p{
        width: 100px;
    }
}

/* PC용 css */
@media all and (min-width:1280px){
    .header{
        width: 1600px;
        justify-content: space-around;
    }
    .header .menu_btn{
        display: none;
    }
    .header .logo{
        width: 51px;
        background-position: left;
        background-size: 100%;
    }
    .header .nav{
        display: block;
    }
    .header .menu{
        display: flex;
        justify-content: space-between;
        width: 1000px;
        padding: 20px 0;
        font-weight: bold;
        font-size: 18px;
    }
    .header .sub_menu{
        display: none;
    }
    .header .search{
        display: block;
        display: flex;
        width: auto;
        margin-right: 10px;
        padding: 11px 0;
    }
    .header .search input{
        display: block;
        border: 1px solid #000;
        border-radius: 20px;
        margin-right: 20px;
        padding: 10px;
    }
    .header .search img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .header .my{
        display: block;
        padding-bottom: 5px;
    }

    /* 메뉴바 영역 */
    .header .nav{
        position: static;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    .header .nav .menu_login{
        display: none;
    }
    .header .nav .option{
        display: none;
    }
    .header .nav > ul{
        margin-top: 60px;
        margin-left: 70px;
        position: relative;
    }
    .header .nav > ul > li{
        position: static;
    }
    .header .nav > ul > li:after{
        content: '';
        width: 0;
        height: 4px;
        display: block;
        position: relative;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        background: #a70800;
        z-index: 100;
    }
    .header .nav > ul > li:hover:after{
        width: 100%;
        transform: translateX(-50%);
    }
    .header .nav > ul > li > a{
        display: block;
        width: 100%;
        line-height: 0;
        margin: 0;
        padding: 0;
    }
    .header .nav > ul > li > a:after{
        display: none;
    }
    .menu_bg{
        position: absolute;
        top: 125px;
        left: 0;
        width: 100%;
        height: 200px;
        background: #fff;
        display: none;
    }
    .menu > li > img{
        display: none;
    }
    .header .nav ul li .sub_menu{
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        width: 1200px;
    }
    .header .nav ul li .sub_menu li{
        display: block;
        height: auto;
        opacity: 1;
        line-height: 5;
        padding: 0;
        font-size: 18px;
        background: none;
    }
    .header .nav ul li .sub_menu li ~ li{
        margin-left: 50px;
    }
    .header .search input{
        display: block;
    }
    .header .search_img{
        cursor: pointer;
        width: 30px;
    }
    .header .my{
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
        bottom: -6px;
        left: 22px;
    }
    .header .nav ul li:hover > ul{
        height: 300px;
        z-index: 100;
    }
    .header .nav ul li:hover > ul li a{
        opacity: 1;
        color: #333;
    }
    .header .nav ul li:hover > ul li a:hover{
        color: #a70800;
    }

    /* 검색영역 */
    .header .search{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        width: 15%;
        margin: 0;
        padding: 0;
        margin-right: 30px;
    }
    .header .search #search{
        display: none;
    }
    .header .search .search_box{
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: none;
        opacity: 1;
    }
    .header .search .search_box input{
        width: 100%;
        height: 30px;
        border: 1px solid #333;
        border-radius: 20px;
        padding: 3px;
        margin: 0;
        outline: none;
        text-indent: 10px;
    }
    .header .search .search_box .search_text{
        display: none;
    }
    .header .search .search_img{
        cursor: pointer;
        width: 35px;
        height: 35px;
        margin: 0;
        margin-left: 20px;
        margin-bottom: 3px;
    }

    /* 슬라이드 영역 */
    .slider{
        width: 100%;
        height: 510px;
        margin: 0 auto;
        background-image: url(../img/main/슬라이드.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        position: relative;
    }
    .slider span{
        display: block;
        position: absolute;
        margin: 0 10px;
    
    }
    .slider .prev_btn{
        display: block;
        width: 105px;
        height: 105px;
        background-image: url(../img/icon/prev.png);
        background-size: 100%;
        left: 2%;
        top: 50%;
        transform: translateY(-50%);
        text-indent: -9999px;
    }
    .slider .next_btn{
        display: block;
        width: 105px;
        height: 105px;
        background-image: url(../img/icon/next.png);
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        text-indent: -9999px;
    }
    .slider:after{
        bottom: 120px;
        left:440px;
        width:150px;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        font-size: 20px;
    }

    /* 내정보 메뉴바 영역 */
    .menu_bar{
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
    }
    .my_menu_bar{
        width: 65%;
        margin-left: 10%;
    }
    .my_menu_bar ul{
        height: 90px;
    }
    .my_menu_bar ul li{
        display: flex;
        line-height: 90px;
    }
    .my_menu_bar ul li a{
        font-size: 20px;
    }
    .my_menu_bar ul li:nth-child(1)::before{
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .my_menu_bar ul li:nth-child(2)::before{
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .my_menu_bar ul li:nth-child(3)::before{
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .my_menu_bar ul li:nth-child(4)::before{
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .login{
        width: 15%;
        border-radius: 20px;
        margin: 20px;
        margin-right: 10%;
        background: #EA372C;
        display: flex;
        position: relative;
        overflow: hidden;
        border: 1px solid #EA372C;
        box-sizing: border-box;
    }
    .login:before{
        content: '';
        width: 120%;
        height: 100%;
        position: absolute;
        left: -130%;
        top: 0;
        background: #fff;
        transform: skewX(30deg);
        transition: 0.5s;
    }
    .login:hover{
        border: 1px solid #aaa;
        box-sizing: border-box;
    }
    .login:hover:before{
        left: -10%;
    }
    .login:hover p{
        color: #333;
        z-index: 1;
    }
    .login:hover a{
        background-image: url(../img/icon/login_arrow_hover.png);
    }
    .login p{
        color: #fff;
        margin: 35px 35px;
        margin-right: 12px;
        font-size: 22px;
        font-weight: bold;
        transition: 0.5s;
    }
    .login a{
        width: 100px;
        height: 50px;
        background-image: url(../img/icon/login_arrow.png);
        background-repeat: no-repeat;
        margin-top: 8px;
        z-index: 1;
        transition: 0.5s;
    }

    

    /* 혜택 영역 */
    .event{
        margin-top: 100px;
        width: 80%;
    }
    .event h2{
        font-size: 28px;
        margin: 30px;
    }
    .event_box{
        width: 1500px;
        margin: 0 auto;
    }
    .event .swiper-slide{
        width: 325px !important;
        height: 325px;
    }
    .event_box h3{
        font-size: 26px;
        margin-top: 50px;
    }
    .event_box li{
        margin: 24px;
    }
    .event a{
        display: block;
        text-align: center;
        background: #eee;
        height: 30px;
        width: 1300px;
        margin: 30px auto;
        line-height: 30px;
    }
    .event a:hover{
        font-weight: bold;
    }
    .event a::after{
        content: '>';
        color: #f00;
        margin-left: 5px;
    }
    

    /* 상품 영역 */
    .best{
        height: 900px;
        width: 1500px;
        box-shadow: none;
    }
    .best h3{
        font-size: 30px;
        margin-top: 100px; 
    }
    .best > span{
        display: none;
    }
    .best_list ul{
        display: flex;
        justify-content: space-between;
        margin: 50px;
    }
    .best_list ul li{
        height: 550px;
        width: 400px;
        background: #eee;
        border-radius: 30px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }
    .best_list ul li .txtBox{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 200px;
        background: rgba(255, 255, 255, 0.85);
        border-radius: 0 0 30px 30px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }
    .best_list li ~ li{
        margin: 0;
    }
    .best_list a{
        width: 400px;
        height: 400px;
    }
    .best_list .txtBox{
        padding: 40px;
        box-sizing: border-box;
    }
    .best_list .txtBox span{
        font-size: 22px;
    }
    .best_list .txtBox p{
        font-size: 24px;
        margin: 20px 0;
    }
    .best_list .txtBox p::after{
        content: '*5GX프라임 요금제, 24개월 휴대폰 할인 기준';
        font-size: 14px;
        display: block;
        margin-top: 10px;
    }
    .best_list ul li:nth-child(2){
        width: auto;
    }
    .best_list ul li:nth-child(3){
        position: relative;
        width: auto;
    }

    /* footer */
    footer{
        width: 100%;
    }
    .footer_01{
        width: 1500px;
        text-align: left;
    }
    .footer_02{
        display: block;
        text-align: left;
        width: 1400px;
        margin: 0 auto;
    }
    .footer_02 .text_box span{
        display: inline-block;
        width: 84px;
        height: 19px;
        background: #2f2f2f;
        border: 1px solid #818181;
        text-align: center;
        line-height: 19px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .footer_02 .text_box2 li{
        display: inline-block;
        margin: 26px 0;
        cursor: pointer;
    }
    .footer_02 .text_box2 li ~ li{
        margin-left: 10px;
    }
    .footer_02 .text_box2 li:hover span{
        font-weight: bold;
    }
    .footer_02 .text_box2 img ~ img{
        margin-left: 10px;
    }
    .footer_02 .text_box2 span{
        display: inline-block;
        margin-left: 5px;
    }
    .footer_02 span, .footer_02 .text_box2{
        display: block;
    }
    .footer_03{
        position: absolute;
        right: 270px;
        top: 84px;
    }
    .footer_03 img ~ img{
        margin-left: 5px;
        margin-bottom: 0;
    }
    .footer_04{
        position: absolute;
        right: 250px;
        bottom: 26%;
    }
}