@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin:0;
    padding:0;
}
body {
    font-family: 'Nanum Gothic','Swis721 BlkCn BT', sans-serif !important;
    line-height:1;
    color:#262626;
}
input, textarea, button {
    font:14px 'Nanum Gothic', 'Swis721 BlkCn BT', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-size:inherit;
    font-weight:normal;
}
ul, ol, li {
    list-style:none;
}
img, fieldset, input {
    border:none;
    vertical-align:top;
}
a {
    text-decoration:none;
    color:#393939;
}
input::placeholder, textarea::placeholder {
    color:#939393;
    font-weight:300;
}
/* input::-webkit-input-placeholder {} */

.clear:after {
    content:'';
    display:block;
    clear:both;
}
.hide { /* 텍스트를 나타나지 않게함 */
    height:0;
    font-size:1px;
    overflow:hidden;
}
.fixed {
    width: 100%;
    margin:0 auto;
}
legend{
    display: none;
}
