@charset "UTF-8";

.content_wrap{
    padding: 0 21rem;
}
.navi ul li:nth-child(5) a{
    color: #AF0023;
    font-weight: 500;
}

.content_title{
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 16rem;
}
.content_title h4{
    font-size: 3rem;
    font-weight: 700;
}

.alliance_list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.alliance_list > ul > li{
    width: 30%;
    margin-bottom: 13rem;
}
.alliance_list_link{
    border-top: 1px solid #9D9D9D;
    margin-bottom: 5rem;
    display: flex;
    justify-content: end;
}
.alliance_list_link a{
    padding: 1.2rem 3rem 3.2rem 1.2rem;
    box-sizing: border-box;
    display: block;
    width: 18rem;
    height: 3.8rem;
    border: 1px solid #9D9D9D;
    border-top: none;
    color: #AF0023;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    background-image: url(/img/icon_arrow_red.svg);
    background-repeat: no-repeat;
    background-position: 14.8rem center;
    overflow: hidden;
}
.alliance_list_link a:before{
    content: '';
    width: 130%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -150%;
    transform: skew(40deg);
    background: #AF0023;
    transition: 0.5s;
    z-index: -99;
}
.alliance_list_link a:hover{
    color: #fff;
    background-image: url(/img/icon_arrow_white.svg);
}
.alliance_list_link a:hover:before{
    left: -15%;
}

.alliance_list_text ul{
    display: flex;
    flex-direction: column;
}
.alliance_list_text ul li{
    width: 100%;
}
.alliance_list_text ul li ~ li{
    margin-bottom: 2rem;
}
.alliance_list_text ul li:first-child h5{
    font-size: 1.8rem;
    font-weight: 700;
    color: #AF0023;
    margin-bottom: 3rem;
}
.alliance_list_text ul li p{
    display: flex;
}
.alliance_list_text ul li p strong{
    display: inline-block;
    min-width: 5.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 2.4rem;
}
.alliance_list_text ul li p span{
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
}

.alliance_list_img img{
    border-radius: 1rem;
}

.list_num > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_num > div > div{
    display: flex;
    margin: 0 2rem;
}
.list_num > div > div input{
    display: none;
}
.list_num > div > div > div ~ div{
    margin-left: 0.5rem;
}
.list_num > div > div label{
    display: block;
   width: 4rem;
   height: 4rem;
   border-radius: 1rem;
   background: #fff;
   font-size: 1.6rem;
   line-height: 4rem;
   text-align: center;
}
.list_num > div > div > div input:checked + label{
    display: block;
   background: #AF0023;
   border-radius: 1rem;
   color: #fff;
}


@media (max-width:1600px) {
    .content_wrap{
        padding: 0 16rem;
    }
}

@media (max-width:1240px) {
    .content_wrap{
        padding: 0 6rem;
    }
}

@media (max-width:900px) {
    .content_wrap{
        padding: 0 6.5rem;
    }
    .content_title{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .content_title h4{
        font-size: 2.6rem;
        font-weight: 700;
    }
    .alliance_list > ul > li{
        width: 49%;
        margin-bottom: 6rem;
    }
    .alliance_list_text ul li:first-child h5{
        font-size: 1.6rem;
    }
}

@media (max-width:680px) {
    .content_wrap{
        padding: 0 6.5rem;
    }
    .content_title h4{
        font-size: 2.2rem;
        font-weight: 700;
    }
    .alliance_list > ul > li{
        width: 100%;
        margin-bottom: 6rem;
    }
    .alliance_list_text ul li:first-child h5{
        font-size: 1.6rem;
    }
    .list_num{
        margin-bottom: 15rem;
    }
}

@media (max-width:380px) {
    .content_wrap{
        padding: 0 3.2rem;
    }
    .content_title{
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
    .content_title h4{
        font-size: 1.6rem;
        font-weight: 700;
    }
    .alliance_list_link{
        margin-bottom: 3rem;
    }
    .alliance_list_link a{
        padding: 1.2rem 2rem 3.1rem 1.2rem;
        box-sizing: border-box;
        display: block;
        width: 16rem;
        height: 3.2rem;
        border: 1px solid #9D9D9D;
        border-top: none;
        color: #AF0023;
        font-size: 1.2rem;
        font-weight: 500;
        position: relative;
        background-image: url(/img/icon_arrow_red.svg);
        background-repeat: no-repeat;
        background-position: 12.8rem center;
        overflow: hidden;
    }
    .alliance_list_link a:before{
        content: '';
        width: 130%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -150%;
        transform: skew(40deg);
        background: #AF0023;
        transition: 0.5s;
        z-index: -99;
    }
}
