@charset "UTF-8";

.content_wrap{
    padding: 0 21rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
    display: flex;
    justify-content: space-between;
}
.content_left .title_text{
    margin-left: 18rem;
}
.content_left h4{
    font-size: 5rem;
    color: #333;
    font-weight: 700;
}
.content_left span{
    font-size: 2.2rem;
    color: #666;
    font-weight: 500;
}
.content_left:before{
    content: '';
    background-image: url(/img/inquiry_img.jpg);
    width: 36rem;
    height: 36rem;
    position: absolute;
    z-index: -99;
    margin-top: 4rem;
}

.content_right{
    position: relative;
}
.content_right .inquiry_category div h4{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.content_right .inquiry_category .category_btn_wrap{
    display: flex;
    margin-bottom: 4rem;
}
.content_right .inquiry_category .category_btn_wrap div input{
    display: none;
}
.content_right .inquiry_category .category_btn_wrap div ~ div label{
    margin-left: 2rem;
}
.content_right .inquiry_category .category_btn_wrap div label{
    display: block;
    padding: 1.4rem 5.2rem;
    border: 1px solid #AF0023;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #af0023;
    cursor: pointer;
}
.content_right .inquiry_category .category_btn_wrap div input:checked + label{
    display: block;
    padding: 1.4rem 5.2rem;
    border: 1px solid #AF0023;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background: #AF0023;
}

.inquiry_input{
    margin-bottom: 6rem;
}
.inquiry_input div input{
    outline: none;
    border: none;
    border-bottom: 1px solid #9D9D9D;
    padding: 2rem 0;
    width: 100%;
    background: transparent;
}
.inquiry_input div input::placeholder{
    font-size: 1.6rem;
    font-weight: 500;
    color: #9D9D9D;
}
.inquiry_input div textarea{
    border: none;
    width: 100%;
    border-bottom: 1px solid #9D9D9D;
    padding: 2rem 0 15rem;
}
.inquiry_input01{
    display: flex;
}
.inquiry_input01 div ~ div{
    margin-left: 5rem;
} 
.inquiry_input01 div{
    width: 100%;
}

.inquiry_input03{
    display: flex;
    align-items: flex-end;
}
.inquiry_input03 div{
    min-width: 10.7rem;
}
.inquiry_input03 input{
    margin-right: 4.4rem;

}
.inquiry_input03 input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.inquiry_input03 label{
    display: inline-block;
    padding: 1rem 2.4rem;
    background: #AF0023;
    border-radius: 3rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

.register_submit{
    text-align: right;
}
.register_submit a span{
    font-size: 1.4rem;
    color: #333;
    vertical-align: middle;
    margin-right: 2rem;

}
.register_submit a img{
    width: 4rem;
}
.register_submit a:after{
    content: '';
    display: block;
    width: 18rem;
    height: 18rem;
    background: #F9F9F9;
    position: absolute;
    bottom: -8rem;
    right: -9rem;
    border-radius: 50%;
    z-index: -99;
    transition: 0.5s all;
    transform-origin: center center;
}
.register_submit:hover a:after{
    transform: scale(1.2);
    opacity: 0.6;
}

@media (max-width:1750px) {
    .content_wrap{
        padding: 0 16rem;
        margin-top: 10rem;
        margin-bottom: 20rem;
        display: flex;
        justify-content: space-between;
    }
    .content_left .title_text{
        margin-left: 18rem;
    }
    .content_left h4{
        font-size: 3.6rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.6rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        width: 36rem;
        height: 36rem;
        position: absolute;
        z-index: -99;
        margin-top: 2.8rem;
    }
    
    .content_right{
        position: relative;
        margin-right: 3rem;
    }
    .inquiry_input03 div{
        min-width: 10.7rem;
    }
    .register_submit{
        text-align: right;
    }
    .register_submit a span{
        font-size: 1.4rem;
        color: #333;
        vertical-align: middle;
        margin-right: 2rem;
    
    }
    .register_submit a img{
        width: 4rem;
    }
    .register_submit a:after{
        content: '';
        display: block;
        width: 18rem;
        height: 18rem;
        background: #F9F9F9;
        position: absolute;
        bottom: -8rem;
        right: -9rem;
        border-radius: 50%;
        z-index: -99;
        transition: 0.5s all;
        transform-origin: center center;
    }
    .register_submit:hover a:after{
        transform: scale(1.2);
        opacity: 0.6;
    }
}

@media (max-width:1240px) {
    .content_wrap{
        padding: 0 6rem;
        margin-top: 10rem;
        margin-bottom: 20rem;
        display: flex;
        justify-content: space-between;
    }
    .content_left .title_text{
        margin-left: 12rem;
    }
    .content_left h4{
        font-size: 3rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.6rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 26rem;
        height: 26rem;
        position: absolute;
        z-index: -99;
        margin-top: 2.8rem;
    }
    
    .content_right{
        margin-right: 12rem;
    }


    .register_submit{
        text-align: right;
    }
    .register_submit a span{
        font-size: 1.4rem;
        color: #333;
        vertical-align: middle;
        margin-right: 2rem;
    
    }
    .register_submit a img{
        width: 4rem;
    }
    .register_submit a:after{
        content: '';
        display: block;
        width: 16rem;
        height: 16rem;
        background: #F9F9F9;
        position: absolute;
        bottom: -7rem;
        right: -10rem;
        border-radius: 50%;
        z-index: -99;
        transition: 0.5s all;
        transform-origin: center center;
    }
    .register_submit:hover a:after{
        transform: scale(1.2);
        opacity: 0.6;
    }
}

@media (max-width:900px) {
    .content_wrap{
        padding: 0 8rem;
        margin-top: 21rem;
        margin-bottom: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content_left{
        display: flex;
        position: relative;
    }
    .content_left .title_text{
        margin-left: 24rem;
    }
    .content_left h4{
        font-size: 2.6rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.8rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 21rem;
        height: 21rem;
        position: absolute;
        top: -100%;
        left: 0;
        z-index: -99;
        margin-top: 0;
    }
    
    .content_right{
        margin-top: 22rem;
        margin-right: 0;
        position: relative;
    }
    .content_right span{
        font-size: 1.6rem;
        color: #ff9090;
    }
    .content_right .register_input{
        width: 90%;
        margin-top: 2.5rem;
    }
    .content_right .register_input input{
        width: 100%;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        padding: 2rem 0;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 6rem;
        background: none;
    }
    .content_right .register_input input::placeholder{
        color: #9D9D9D;
    }
    .register_submit{
        width: 90%;
        text-align: right;
        position: relative;
    }
    .register_submit a span{
        font-size: 1.4rem;
        color: #333;
        vertical-align: middle;
        margin-right: 2rem;
    
    }
    .register_submit a img{
        width: 4rem;
    }
    .register_submit a:after{
        content: '';
        display: block;
        width: 16rem;
        height: 16rem;
        background: #F9F9F9;
        position: absolute;
        bottom: -7rem;
        right: -8rem;
        border-radius: 50%;
        z-index: -99;
        transition: 0.5s all;
        transform-origin: center center;
    }
    .register_submit:hover a:after{
        transform: scale(1.2);
        opacity: 0.6;
    }
}

@media (max-width:680px) {
    .content_wrap{
        padding: 0 6.5rem;
        margin-top: 16.4rem;
        margin-bottom: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_left{
        display: flex;
        position: relative;
        text-align: center;
    }
    .content_left .title_text{
        margin-left: 0;
    }
    .content_left h4{
        font-size: 1.6rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.4rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: -300%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -99;
        margin-top: 0;
    }
    
    .content_right{
        margin-top: 4rem;
        text-align: center;
    }
    .content_right .inquiry_category div h4{
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        
    }
    .content_right .inquiry_category .category_btn_wrap{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .content_right .inquiry_category .category_btn_wrap div label{
        display: block;
        padding: 1rem 3rem;
        border: 1px solid #AF0023;
        border-radius: 3rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: #af0023;
    }
    .content_right .inquiry_category .category_btn_wrap div ~ div label{
        margin-left: 1rem;
    }
    .content_right .inquiry_category .category_btn_wrap div input:checked + label{
        display: block;
        padding: 1rem 3rem;
        border: 1px solid #AF0023;
        border-radius: 3rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        background: #AF0023;
    }
    
    .inquiry_input{
        margin-bottom: 6rem;
    }
    .inquiry_input div input{
        outline: none;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        padding: 2rem 0;
        width: 100%;
        background: transparent;
    }
    .inquiry_input div input::placeholder{
        font-size: 1.4rem;
        font-weight: 500;
        color: #9D9D9D;
    }
    .inquiry_input div textarea{
        border: none;
        width: 100%;
        border-bottom: 1px solid #9D9D9D;
        padding: 2rem 0 12rem;
    }
    .inquiry_input div textarea::placeholder{
        font-size: 1.4rem;
        font-weight: 500;
        color: #9D9D9D;
    }
    .inquiry_input01{
        display: block;
    }
    .inquiry_input01 div ~ div{
        margin-left: 0;
    } 
    .inquiry_input01 div{
        width: 100%;
    }
    
    .inquiry_input03{
        display: flex;
        align-items: flex-end;
    }
    .inquiry_input03 div{
        min-width: 10rem;
    }
    .inquiry_input03 input{
        margin-right: 0;

    }
    .inquiry_input03 input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
    .inquiry_input03 label{
        display: inline-block;
        padding: 1rem 2.4rem;
        background: #AF0023;
        border-radius: 3rem;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .register_submit{
        width: 90%;
        text-align: center;
        position: relative;
    }
    .register_submit a span{
        font-size: 1.4rem;
        color: #333;
        vertical-align: middle;
        margin-right: 2rem;
    }
    .register_submit a img{
        width: 4rem;
    }
    .register_submit a:after{
        content: '';
        display: block;
        width: 8rem;
        height: 8rem;
        background: #F9F9F9;
        position: absolute;
        top: -2.8rem;
        left: 60%;
        border-radius: 50%;
        z-index: -99;
        transition: 0.5s all;
        transform-origin: center center;
    }
    .register_submit:hover a:after{
        transform: scale(1.2);
        opacity: 0.6;
    }
}


@media (max-width:380px) {
    .content_wrap{
        padding: 0 3.2rem;
        margin-top: 16.4rem;
        margin-bottom: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_left{
        display: flex;
        position: relative;
        text-align: center;
    }
    .content_left .title_text{
        margin-left: 0;
        margin-top: 1rem;
    }
    .content_left h4{
        font-size: 1.6rem;
        color: #333;
        font-weight: 700;
    }
    .content_left span{
        font-size: 1.4rem;
        color: #666;
        font-weight: 500;
    }
    .content_left:before{
        content: '';
        background-size: contain;
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: -200%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -99;
        margin-top: 0;
    }
    
    .content_right{
        width: 100%;
        margin-top: 6rem;
        margin-right: 0;
        position: relative;
        text-align: center;
    }
    .content_right span{
        font-size: 1.2rem;
        color: #ff9090;
    }
    .content_right .register_input{
        width: 100%;
        margin-top: 4rem;
    }
    .content_right .register_input input{
        text-align: center;
        width: 100%;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        padding: 2rem 0;
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 6rem;
        background: none;
    }
    .content_right .register_input input::placeholder{
        color: #9D9D9D;
    }
    .register_submit{
        width: 90%;
        text-align: center;
        position: relative;
    }
    .register_submit a span{
        font-size: 1.4rem;
        color: #333;
        vertical-align: middle;
        margin-right: 2rem;
    }
    .register_submit a img{
        width: 4rem;
    }
    .register_submit a:after{
        content: '';
        display: block;
        width: 5rem;
        height: 5rem;
        background: #F9F9F9;
        position: absolute;
        top: -1.2rem;
        left: 80%;
        border-radius: 50%;
        z-index: -99;
        transition: 0.5s all;
        transform-origin: center center;
    }
    .register_submit:hover a:after{
        transform: scale(1.2);
        opacity: 0.6;
    }
}